
<!--user紹介-->
  <h2>User info</h2>
  <%= image_tag user.get_user_icon(100, 100) %><br>
  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.user_introduction %></th>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <% if user == current_user %>
      <%= link_to (edit_user_path(user.id))  do %>
      <a class='btn btn-outline-secondary btn-block edit_user_path'>
        <i class="fa-solid fa-user-gear"></i>
      </a>
      <% end %>
    <% else %>
    <%= link_to (user_path(current_user.id)) do %>
      <a class='btn btn-outline-secondary btn-block edit_user_path'>
        <i class="fa-solid fa-user-gear"></i>
      </a>
      <% end %>
    <% end %>
  </div>