<h1>User inpo</h1>
<!--user紹介-->
<div>
  <%= image_tag @user.get_user_icon(100, 100) %><br>
  name <%= @user.name %><br>
  introduction <%= @user.user_introduction %><br>

  <%= link_to "edit", edit_user_path(@user.id) %>
</div>
<!--新規投稿-->
<h1>New book</h1>
<%= form_with model: @new_book, url:books_path, method: :post do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>

  <h4>opinion</h4>
  <%= f.text_area :body %>
  <br>
  <%= f.submit 'Create Book' %>
<% end %>
<!--詳細-->
<h1>Book detail</h1>
<table>
  <tr>
    <td><%= image_tag @user.get_user_icon(100, 100) %></td>
    <td><%= link_to @book.title, book_path(@book) %></td>
    <td><%= @book.body %></td>
    <% if @book.user == current_user %>
      <td><%= link_to "Edit", edit_book_path(@book) %></td>
      <td><%= link_to "Destroy", book_path(@book.id), method: :delete ,"data-confirm" => "本当に消しますか？"%></td>
    <% end %>
  </tr>
  
    <td><%= link_to @user.name, user_path(current_user.id) %></td>
</table>